* {
    margin: 0px;
    padding: 0px;
}
p {
    text-align: center;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    color: black;
    margin-bottom: 20px;
}
h1 {
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Architects Daughter', cursive;

}
h3 {
    text-align: center;
}
.rt {
    display: block;
    margin: 0 auto;
  }
iframe {
    margin-left: 500px;
    margin-bottom: 70px;
}
* {
     background-color: lawngreen;
    

}
/*li {
    background-color: blue;
    
    display: inline-block;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 30px;
    padding-bottom: 30px;
} */
ul {
    background-color: blueviolet;
}

a {
    background-color: blueviolet;
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
    text-align: center;
}
a:hover {
    background-color: rgb(157, 232, 255);
}
li:hover {
    background-color: rgb(157, 232, 255);
}
p {
    margin-bottom: 40px;
}
#tt {
    padding-top: 10px;
    background-color: black;
    text-decoration: white;
    color: white;
    text-align: center;
}